@{
    ViewBag.Title = "Quem Somos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	"Uma história de sucesso que se inicia com o sonho de Edward Fouz: construir uma livraria para promover o encontro de pessoas com os mais variados interesses. E foi em busca desse sonho que, há 70 anos, Dona Eva fundou a Livraria Cultura. A empresa teve um início tímido na casa da família Herz e, atualmente, é referência nacional com 18 lojas distribuídas pelo Brasil (em São Paulo, Campinas, Ribeirão Preto, Rio de Janeiro, Brasília, Salvador, Recife, Fortaleza, Curitiba e Porto Alegre).
<br />
	<br />
	Atualmente, a Livraria HB se dedica a oferecer um espaço multimídia, onde a busca pelo produto é apenas o início de uma jornada enriquecedora: nossas lojas dão vida à cultura por meio de seu extenso acervo e também de seus teatros, auditórios, cafés
	e eventos gratuitos. Venha nos conhecer!"
</p>
