@{
	ViewBag.Title = "Página Principal";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Menu</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Página Principal <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Destaques</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="~/Home/About">Sobre Nós</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="~/Home/Contact">Contato</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Buscar">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
		</form>
	</div>
</nav>

<div class="jumbotron">
	<h1>Livraria HB</h1>
	<p class="lead">A Livraria HB conta com um acervo de livros dos mais variados gêneros, onde são encontrados títulos de escritores que marcaram gerações e também de autores da atualidade. O local possui ainda um espaço voltado para a venda de CD's e DVD's.</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Destaques</h2>
		<p>
			<div class="card mb-3">
				<h3 class="card-header">Velozes e Furiosos 7</h3>
				<div class="card-body">
					<h6 class="card-subtitle text-muted">Lançamento</h6>
				</div>
				<img style="height: 400px; width: 100%; display: block;" src=https://images.livrariasaraiva.com.br/imagemnet/imagem.aspx/?pro_id=8904895&qld=90&l=430&a=-1=1002888336" alt="Card image">
				<div class="card-body">
		<p class="card-text">Após os acontecimentos em Londres, Dom (Vin Diesel), Brian (Paul Walker), Letty (Michelle Rodriguez) e o resto da equipe tiveram a chance de voltar para os Estados Unidos e recomeçarem suas vidas.</p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Ano de Produção: 2015</li>
		<li class="list-group-item">Classificação Indicativa: Não recomendado para menores de 14 anos</li>
		<li class="list-group-item">Duração Aproximada: 137 min.</li>
	</ul>
	<div class="card-footer text-muted">
		1 Dias Atrás
	</div>
</div>

</div>

	</div>
<div class="row">
	<div class="col-md-4">
		<p>
			<div class="card mb-3">
				<h3 class="card-header">Vingadores - Guerra Infinita</h3>
				<div class="card-body">
					<h6 class="card-subtitle text-muted">Lançamento</h6>
				</div>
				<img style="height: 400px; width: 100%; display: block;" src=http://www.megatorrentshd.com/wp-content/uploads/2018/04/capa-vingadores-guerra-infinita-hd.jpeg" alt="Card image">
				<div class="card-body">
		<p class="card-text">Thanos (Josh Brolin) enfim chega à Terra, disposto a reunir as Joias do Infinito. Para enfrentá-lo, os Vingadores precisam unir forças com os Guardiões da Galáxia, ao mesmo tempo em que lidam com desavenças entre alguns de seus integrantes.</p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Ano de Produção: 2018</li>
		<li class="list-group-item">Classificação Indicativa: Não recomendado para menores de 16 anos</li>
		<li class="list-group-item">Duração Aproximada: 247 min.</li>
	</ul>
	<div class="card-footer text-muted">
		2 Dias Atrás
	</div>
</div>
</div>

<div class="row">
	<div class="col-md-4">
		<p>
			<div class="card mb-3">
				<h3 class="card-header">Mega Tubarão</h3>
				<div class="card-body">
					<h6 class="card-subtitle text-muted">Lançamento</h6>
				</div>
				<img style="height: 400px; width: 100%; display: block;" src=http://razaodeaspecto.com/wp-content/uploads/2018/08/kWw4mbPZaCZgXsdbwdDnrRrgpk4.jpg" alt="Card image">
				<div class="card-body">
		<p class="card-text">Na fossa mais profunda do Oceano Pacífico, a tripulação de um submarino fica presa dentro do local após ser atacada por uma criatura pré-histórica que se achava estar extinta, um tubarão de mais de 20 metros de comprimento, o Megalodon. Para salvá-los, oceanógrafo chinês (Winston Chao) contrata Jonas Taylor (Jason Statham), um mergulhador especializado em resgates em água profundas que já encontrou com a criatura anteriormente.</p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Ano de Produção: 2018</li>
		<li class="list-group-item">Classificação Indicativa: Não recomendado para menores de 16 anos</li>
		<li class="list-group-item">Duração Aproximada: 142 min.</li>
	</ul>
	<div class="card-footer text-muted">
		3 Dias Atrás
	</div>
</div>

